<h1>Meetings List (should be personal)</h1>

<% if @meetings != [] %>
  <div class='cards'>
    <% @meetings.each do |meeting| %>
      <div class = 'card-meeting p-3 my-1'>
        <div class="card-meeting-text">
          <h2 class= 'card-meeting-title'><%= meeting.restaurant.name %></h2>
          <p><%= meeting.restaurant.address %></p>
        </div>
        <div class="">
          <%= link_to 'Details', meeting_path(meeting), class: 'btn btn-info' %>
          <%= link_to 'Cancel', meeting_path(meeting), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-warning' %>
        </div>
      </div>
    <% end %>
    </div>
    <% else %>
    <div class='dflex text-center'>
      <h2 class='oh-no'>Oh no! You haven't booked anything yet!</h2>
      <div class='text-center'>
      <%= link_to 'View restaurants', restaurants_path, class: 'btn btn-info' %>
      </div>
    </div>
  <% end %>
  <%= link_to 'View restaurants', restaurants_path, class: 'btn btn-info' %>
