<title>Mango - Not having a companion to eat with when out. </title>

<div class='d-flex flex-column align-items-center'>
  <div class="card-restaurant-info">
    <h1><%= @meeting.restaurant.name %></h1>
    <p><%= @meeting.restaurant.address %></p>
  </div>
  <div class="host-card-info">
    <%= link_to cl_image_tag(@meeting.user.photo), user_path(@meeting.user), class: "avatar-link-large" %>
    <%= @meeting.user.first_name %>
    <i class="fas fa-award"></i>
  </div>
  <div class="guest-card-info">
    <% @meeting.guests.each do |guest| %>
      <%= link_to user_path(guest.user_id) do %>
        <%= cl_image_tag(User.find(guest.user_id).photo, width: 40, height: 40, crop: :fill) %>
        <%= User.find(guest.user_id).first_name %>
      <% end %>
    <% end %>
  </div>

   <div>
    <% if Guest.where(meeting: @meeting) == [] && @meeting.user != current_user %>
      <%= simple_form_for Guest.new do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :meeting_id, :value => params[:id] %>
        <%#= f.hidden_field :meet_time, :value => Date.today %>
        <%= f.submit 'Join meeting', class: 'btn-Meeting' %>
      <% end %>
    <% end %>
  </div>
    <div
    id="map"
    style="width: 100%;
    height: 400px;"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>


  <div>
    <%= link_to 'Meetings list', meetings_path, class: 'btn-createMeeting' %>
  </div>
</div>
<%# raise %>
