<title>Mango - Not having a companion to eat with when out. </title>

<div class='d-flex flex-column align-items-center'>
  <div class="card-restaurant-info">
    <h1><%= @meeting.restaurant.name %></h1>
    <p><%= @meeting.restaurant.address %></p>
  </div>
  <div class="member-card-info">
    <%= link_to cl_image_tag(@meeting.user.photo), user_path(@meeting.user), class: "avatar-link-large" %>
    <div class="member-details" >
    <h2><%= @meeting.user.first_name %></h2>
    <p><%= @meeting.user.interest %></p>
    </div>
  </div>
  <div class="member-card-info">
    <% @meeting.guests.each do |guest| %>
      <%= link_to user_path(guest.user_id), class: "member-link" do %>
      <div class="avatar-link-large">
        <%= cl_image_tag(User.find(guest.user_id).photo, crop: :fill) %>
      </div>
      <div class="member-details">
        <h2><%= User.find(guest.user_id).first_name %></h2>
        <p><%= User.find(guest.user_id).interest %></p>
        </div>
      <% end %>
    <% end %>
  </div>

   <div>
    <% if Guest.where(meeting: @meeting) == [] && @meeting.user != current_user %>
      <%= simple_form_for Guest.new do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :meeting_id, :value => params[:id] %>
        <%#= f.hidden_field :meet_time, :value => Date.today %>
        <%= f.submit 'Join meeting', class: 'btn-Meeting' %>
      <% end %>
    <% end %>
  </div>
    <div
    id="map"
    style="width: 100%;
    height: 400px;"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>


  <div class="btn-create-meeting">
    <%= link_to 'Meetings list', meetings_path, class: 'btn-createMeeting' %>
  </div>
</div>
<%# raise %>
