<title>Mango - Profile page: Not having a companion to eat with when out. </title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <div class="profile-pic">
  <%= cl_image_tag @user.photo, alt: "profile-pic", class: "card-avatar" %>
    <div class="profile-pic-info">
      <h1><%= @user.first_name %></h1>
      <div class="profile-pic-rating">
        <% if @average_rating %>
          <% @average_rating.times do |i| %>
            <i class="fas fa-star"></i>
          <% end %>
        <% else %>
          <h3>No ratings yet</h3>
        <% end %>
        <%= @reviews.count %>
      </div>
    </div>
  </div>
  <% if @user != current_user %>
    <%= link_to 'Leave a review', user_review_path(@user) %>
  <% end %>
  <div class="information-card">
    <div class="information-card-buffer">
      <div class="interests-card">
        <div class="card-title-edit">
          <h2>Food Preferences</h2>
          <% if @user == current_user %>
            <%= link_to edit_user_registration_path do %>
            <i class="far fa-edit"></i>
            <% end %>
          <% end %>
        </div>
        <p><%= @user.food_preferences %></p>
      </div>
    </div>
    <div class="interests-card">
      <div class="card-title-edit">
        <h2>Interests</h2>
        <% if @user == current_user %>
            <%= link_to edit_user_registration_path do %>
            <i class="far fa-edit"></i>
            <% end %>
          <% end %>
      </div>
      <p><%= @user.interest %></p>
    </div>
  </div>
</div>

