<title>Mango - Not having a companion to eat with when out. </title>
<div class="container" >
    <div class='d-flex flex-column align-items-center'>
      <h1 class="meeting-exterior-text">Open meals to join at <%= @restaurant.name %></h1>
      <div class='cards'>
        <% @meetings.each do |meeting| %>
          <div class = 'card-meeting p-3 my-1'>
            <div class="card-meeting-text">
              <h3><%= meeting.user.first_name %></h3>
              <%= link_to cl_image_tag(meeting.user.photo), user_path(meeting.user), class: "avatar-link-large" %>
              <p><%= meeting.restaurant.address %></p>
              <p><%= meeting.meet_time.strftime("%H:%M")%></p>
            </div>

            <div class='d-flex align-items-center flex-column'>
              <%= link_to 'Show Details', meeting_path(meeting), class: 'btn-thin btn-orange' %>
            </div>
          </div>
        <% end %>
      </div>
      <%= link_to 'Back to map', restaurants_path, class: 'btn-thin btn-cancel' %>
    </div>
