<title>Mango - Not having a companion to eat with when out. </title>

<div class="card-1">
  <div class='d-flex flex-column align-items-center'>
    <div class="button-space">
      <div class="card-product my-3">
        <%= image_tag @restaurant.photo %>
        <div class="card-product-infos">
          <div class="card-title">
            <h2><%= @restaurant.name  %></h2>
            <p><%= @restaurant.address %></p>
          </div>
         <%= simple_form_for Meeting.new do |f| %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :restaurant_id, :value => params[:id] %>
            <%#= f.hidden_field :meet_time, :value => Date.today %>
            <%= f.input :meet_time, as: :time %>
            <%= f.submit class: 'btn btn-info' %>
          <% end %>
        </div>
      </div>
      <% if @has_meeting %>
      <div class="meeting-button">
        <%= link_to 'Join a meeting here', available_meetings_path(@restaurant), class: 'btn btn-info my-1' %>
      </div>
      <% end %>
    </div>
    <%= link_to 'Back', restaurants_path, class: 'btn btn-info my-1' %>
  </div>
</div>
